<html>
    <head>
        <meta charset="utf-8">
        <title>TODO APP</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="app">
            <h2>TODO List</h2>

            <form v-on:submit.prevent>
                <input type="text" v-model="newItem">
                <button v-on:click="addItem">Add</button>
            </form>

            <ul>
                <li v-for="todo in todos">
                    <input type="checkbox" v-model="todo.isDone">
                    <span>{{ todo.item }}</span>
                </li>
            </ul>

            <pre>{{ $data }}</pre>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>